.AllPosts {
  padding: 100px 0;

  @media screen and (max-width:768px){
    padding: 60px 0;
  }

  h2 {
    text-align: center;
    margin: 0 auto 50px auto;
  }
}

.allposts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 50px;

  @media screen and (max-width:768px){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
  }
  @media screen and (max-width:500px){
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
  }

  &__item {
    @media screen and (max-width:500px){
      margin: 0 auto;
      max-width: 500px;
      width: 100%;
      text-align: center;
    }
  }

  h4 {
    font-size: 22px;
    margin: 10px 0 5px 0;
    @media screen and (max-width:768px){
      font-size: 20px;
      margin: 10px 0 5px 0;
    }
  }

  p {
    font-size: 15px;
    margin-bottom: 5px;
    opacity: 0.86;
  }

  span {
    opacity: 0.6;
  }
}