.brands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 60px 0;
  column-gap: 15px;

  @media screen and (max-width:768px){
    padding: 40px 0 40px 0;
  }
  @media screen and (max-width:600px){
    padding: 20px 0 20px 0;
    column-gap: 5px;
  }

  img {
    cursor: pointer;

  }
}