.Navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
}
.nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;

  &__logo {
    padding: 7px 0;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @media screen and (max-width:850px){
      display: none;
    }

    &--link {
      display: flex;
      align-items: center;
      font-weight: 400;

      a {
        margin-right: 28px;
        transition: border-bottom 0.3s ease;
        padding: 5px 0;
        border-bottom: 2px solid white;
        &:hover {
          color: #000000;
          border-bottom: 2px solid #000000;
          
        }
      }
    }
  }

  &__icon {
    display: none;
    @media screen and (max-width:850px){
      display: flex;
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 50%;
      z-index: 10;
      font-weight: bold;

      &:hover {
        background-color: rgb(236, 236, 236);
      }
    }
  }

  &__mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -40px;
    top: 0;
    width: 80%;
    background-color: rgb(250, 250, 250);
    padding: 50px;
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &--link {
      display: flex;
      flex-direction: column;
      text-align: center;

      a {
        padding: 10px 0;
      }
    }
    &--button {
      margin-top: 20px;
    }
  }
}
