.Navbar {
  position: fixed;
  width: 100%;
  background-color: white;
}
.nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;

  &__logo {
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    &--link {
      display: flex;
      align-items: center;
      font-weight: 400;

      a {
        margin-right: 28px;
        transition: border-bottom 0.3s ease;
        padding: 5px 0;
        border-bottom: 2px solid white;
        &:hover {
          color: #000000;
          border-bottom: 2px solid #000000;
          
        }
      }
    }
  }
}
